<h2 id="table">{{table}}</h2>
<p>⇢ a list of people or organizations that have developed or maintained the project</p>
<br />
<br />


<div id="add"></div>

<div id="form"></div>

<div id="table"></div>

<form action="/insert" method="get">
<fieldset>
  <legend>add new author</legend>
    <label>
    <input name="table" value="author" class="hidden-table" type="hidden">
      <span class="name">name</span>
      <span> ⇢ </span>
      <input size="20" name="name" placeholder="Maul" id="name" type="text_input">
    </label>
    <label>
        <span class="name">url</span>
        <span> ⇢ </span>
        <input size="20" name="url" placeholder="www.darthmaul.com" id="url" type="text_input">
    </label>
  <input class="submit" value="Submit" type="submit">
</fieldset>
</form>


<table>
    <tr> 
        <th>name</th> 
        <th>url</th>
    </tr> 
        {{#each author}} 
        <tr> 
            <td>{{name}}</td> 
            <td><a href="{{url}}">{{url}}</a></td> 
            <!--<td><a href="/people/{{id}}">edit</a></td>-->
            <!--<td><button onclick="deletePerson({{id}})">delete</button></td>-->
            <td>
            <form class="edit">
                <input value="Edit" class="buttonEdit" type="submit">
                <input name="id" value={{id}} class="hidden" type="hidden">
            </form>
            <form>
                <input value="Delete" class="buttonDelete" type="submit">
                <input name="table" value="author" class="hidden-table" type="hidden">
                <input name="id" value={{id}} class="hidden-id" type="hidden"></form>
            </td>
        </tr> 
        {{/each}} 
</table> 


<pre id="results">{{results}}</pre>

