{{error}}


<h2 id="table">{{table}}</h2>
<p>⇢ the whole shebang</p>
<br />
<br />

{{#if login}}
<form action="/insert" method="get">
<fieldset>
  <legend>add new program</legend>
    <label>
      <span class="name">name</span>
      <span> ⇢ </span>
      <input size="20" name="name" placeholder="Coolbot" id="name" type="text_input">
    </label>
    <label>
        <span class="name">purpose</span>
        <span> ⇢ </span>
        <input size="20" name="purpose" placeholder="To be a cool robot." id="purpose" type="text_input">
    </label>
    <label>
        <span class="name">url</span>
        <span> ⇢ </span>
        <input size="20" name="url" placeholder="www.coolbot.com" id="url" type="text_input">
    </label>
    <label>
        <span class="name">version</span>
        <span> ⇢ </span>
        <input size="20" name="version" placeholder="0.0.1" id="version" type="text_input">
    </label>
    <label>
        <span class="name"  >license</span>
        <span> ⇢ </span>
        <input size="20" name="license" placeholder="MIT" id="license" type="text_input">
    </label>
  <input id="submit" value="Submit" type="submit">
</fieldset>
</form>
{{/if}}


<table>
  <tr> 
    <th>name</th> 
    <th>purpose</th> 
    <th>url</th>
    <th>version</th>  
    <th>license</th>  
  </tr> 
  {{#each program}} 
  <tr> 
    <td>{{name}}</td> 
    <td>{{purpose}}</td> 
    <td><a href="{{url}}">{{url}}</a></td> 
    <td>{{version}}</td>
    <td>{{license}}</td>
    <td>
    <form class="edit">
        <input value="Edit" class="buttonEdit" type="submit">
        <input name="table" value="program" class="hidden-table" type="hidden">
        <input name="id" value={{id}} class="hidden" type="hidden">
    </form>
    <form>
        <input value="Delete" class="buttonDelete" type="submit">
        <input name="id" value={{id}} class="hidden-id" type="hidden">
    </form>
    </td>
  </tr> 
  {{/each}} 
</table> 

{{#each scripts}}
  <script src="{{script}}"></script>
{{/each}}

